<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
    <section th:replace="fragments :: html_header"/>
    <section class="content">
        <br><center><h1>Second Spring Boot Application</h1></center><br>
        Welcome <span th:text="${kContext.getIdToken().getName()}"></span> <br><br>

        <table class="table table-bordered">
            <thead class="table-head">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Values</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Name</td>
                <td><span th:text="${kContext.getIdToken().getName()}"></span></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Given Name</td>
                <td><span th:text="${kContext.getIdToken().getGivenName()}"></span></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Family Name</td>
                <td><span th:text="${kContext.getIdToken().getFamilyName()}"></span></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Email</td>
                <td><span th:text="${kContext.getIdToken().getEmail()}"></span></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Your Roles</td>
                <td>
                    <div th:each="role , iter: ${kContext.getToken().getRealmAccess().getRoles()}">
                        <span th:text="${iter.index+1}" />.
                        <span th:text="${role}" />
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Scope</td>
                <td><span th:text="${kContext.getToken().getScope()}"></span></span></td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Issued At</td>
                <td><span th:text="${kContext.getToken().getIat()}"></span></td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Expiration Time</td>
                <td><span th:text="${kContext.getToken().getExp()}"></span></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Issuer</td>
                <td><span th:text="${kContext.getToken().getIssuer()}"></span></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Issued For</td>
                <td><span th:text="${kContext.getToken().getIssuedFor()}"></span></td>
            </tr>
            </tbody>
        </table>
        <b>Access Token</b> : <span th:text="${kContext.getTokenString()}"></span><br><br>
        <b>Id Token</b> : <span th:text="${kContext.getIdTokenString()}"></span><br><br>
    </section>
    <!--    Name : <span th:text="${kContext.getIdToken().getName()}"></span><br><br>-->
    <!--    Given Name : <span th:text="${kContext.getIdToken().getGivenName()}"></span><br><br>-->
    <!--    Family Name : <span th:text="${kContext.getIdToken().getFamilyName()}"></span><br><br>-->
    <!--    Usename : <span th:text="${kContext.getIdToken().getName()}"></span><br><br>-->
    <!--    Usename : <span th:text="${kContext.getIdToken().getEmail()}"></span><br><br>-->
    <!--    Protocol Type : <span th:text="${kContext.getIdToken().getId()}"></span><br><br>-->

    <!--    <span th:each="role , iter: ${kContext.getToken().getRealmAccess().getRoles()}">-->
    <!--        <span th:text="${iter.index+1}" />.-->
    <!--        <span th:text="${role}" />-->
    <!--    </span>-->

    <!--    Scope : <span th:text="${kContext.getToken().getScope()}"></span><br><br>-->
    <!--&lt;!&ndash;    Email Status : <span th:text="${kContext.getIdToken().getEmailVerified()()}"></span><br><br>&ndash;&gt;-->
    <!--    Issued At : <span th:text="${kContext.getToken().getIat()}"></span><br><br>-->
    <!--    Expiration Time : <span th:text="${kContext.getToken().getExp()}"></span><br><br>-->
    <!--    Issuer : <span th:text="${kContext.getIdToken().getIssuer()}"></span><br><br>-->
    <!--    Issued For : <span th:text="${kContext.getIdToken().getIssuedFor()}"></span><br><br>-->
</body>
</html>