#login-btn{
    color: #198754;
    padding: 6px 12px;
    margin-right: 10px;
}
#logout-btn{
    color: #dc3545;
}
#logout-btn:hover{
    color: white;
}
#login-btn:hover{
    color: white;
}
.modal{
    top: 200px;
}
#registerModal{
    top: 100px;
}
.login-img-div{
    height: 219px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-img{
    width: 60%;
    height: 60%;
    border-radius: 50%;
}
.login-region-name{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.region-box{
    border: 1px solid black;
    border-radius: 13px;
}
.region-box:hover{
    background-color: #fafdff;
    border-color: #08b2e5;
    color: #0d91f0;
}